<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="bot.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector">
          <match url="^bot.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="bot.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node"
      watchedFiles="*.js;iisnode.yml"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCountPerApplication="1" />
  </system.webServer>
</configuration>